<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Manutenção</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Sistema de Manutenção</h1>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('cadastrar_equipamento') }}">Cadastrar Equipamento</a>
            <a href="{{ url_for('registrar_manutencao') }}">Registrar Manutenção</a>
            <a href="{{ url_for('consultar_historico') }}">Consultar Histórico</a>
            <a href="{{ url_for('explorador') }}">Explorador de Arquivos</a> <!-- Novo botão -->
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Bem-vindo ao Sistema de Manutenção</h2>
            <p>Utilize as opções acima para navegar no sistema.</p>
            <!-- Botão para criar novo arquivo Excel -->
            <a href="/criar_arquivo" class="button">📂 Criar Novo Arquivo Excel</a>
        </div>
    </main>
    <footer>
        <p class="boas_vindas">&copy; 2024 Sistema de Manutenção</p>
    </footer>

    <script src="/static/color_mode.js"></script>
</body>
</html>
